a {
  text-decoration: none;
}
.header {
  width: 1052px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  margin: 92px 24px auto 24px;
}

.header_menu {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin-left: 24px;
}

.header_list {
  display: flex;
  list-style-type: circle;
  flex-direction: row;
  gap: 32px;
}

.header-link {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-skip-ink: none;
}

.header-link_text {
  list-style: circle;
}
.header-link_no_underline {
  text-decoration: none;
  list-style: none;
}

.header-link_no_circle {
  list-style: none;
}

.header_logo {
  padding-left: 0;
  margin-left: 40px;
}

.header_logo_black {
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  line-height: 24.3px;
  letter-spacing: 0px;
  max-width: 240.52px;
  margin-left: 186px;
  margin-right: 25.48px;
  border: 1px;
  font-size: 18px;
  font-style: normal;
}

.address_list {
  list-style-type: none;
}

.need_underline {
  text-decoration: underline;
  text-underline-position: under;
}

.background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  inset: 0;
  z-index: -1;
}

.cover {
  background: url("../images/cover.jpg") center/cover;
  width: 1100px;
  margin-top: 92px;
  padding-bottom: 50px;
  position: relative;
  z-index: 1;
}

.title {
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.aligned_text {
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  margin: 165px 0 0 50px;
}

.letter_o1 {
  letter-spacing: 6px;
}

.letter_n1 {
  letter-spacing: 35px;
}

.aligned_text_center {
  font-size: 100px;
  font-weight: 700;
  color: #fff;
  margin-left: 46px;
  text-align: center;
  margin-top: 10px;
  margin-right: 110px;
}

.letter_t {
  letter-spacing: 7px;
}

.letter_e1 {
  letter-spacing: 6px;
}

.letter_b {
  letter-spacing: 35px;
}

.aligned_text_right {
  font-size: 100px;
  font-weight: 700;
  color: #fff;
  margin-top: 3px;
  margin-right: 50px;
  text-align: end;
}

.letter_n2 {
  letter-spacing: 38px;
}

.letter_a {
  letter-spacing: 5px;
}

.letter_d {
  letter-spacing: 7px;
}

.cover_description {
  display: flex;
  font-size: 22px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 126px;
  align-items: center;
}

.description_text {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  margin-left: 78px;
  word-spacing: 17.5px;
}

.bet_button {
  text-transform: uppercase;
  font-size: 22px;
  width: 256px;
  height: 51px;
  margin-right: 50px;
  border: 1px solid #fff;
  color: #ffffff;
  background: none;
}

.lots_title {
  font-size: 40px;
  margin-top: 179px;
  text-transform: uppercase;
  margin-left: 64px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style-type: none;
  gap: 25px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 26px;
}

.card {
  width: 334px;
  height: 563px;
  position: relative;
  z-index: 1;
}

.type_film {
  background: url(../images/card-lot-01.jpg) center/cover;
}

.type_book {
  background: url(../images/card-lot-02.jpg) center/cover;
}

.type_pic {
  background: url(../images/card-lot-03.jpg) center/cover;
}

.card_title {
  color: #fff;
  text-decoration: underline;
  text-transform: uppercase;
  text-underline-position: under;
  text-decoration-skip-ink: none;
  font-size: 22px;
  margin-left: 40px;
  padding-top: 51px;
}

.card_text {
  color: #fff;
  margin-left: 40px;
  font-size: 20px;
  margin-right: 40px;
  line-height: 24px;
}

.film_text {
  margin-top: 245px;
}

.pic_text {
  margin-top: 100px;
}

.view_more {
  display: flex;
  font-size: 20px;
  justify-content: flex-start;
  align-items: center;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-skip-ink: none;
  margin-top: 30px;
  margin-left: 64px;
}

.about {
  display: flex;
  gap: 72px;
}

.logo {
  display: flex;
}

.logo_background {
  margin-top: 184px;
  margin-left: 71px;
  width: 240px;
  height: 240px;
  background: url(../images/logo-white.svg) no-repeat center center;
  background-size: 148px 114px;
  border-radius: 160px;
  background-color: rgba(0, 0, 0);
}

.about_column {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 98px;
  padding-top: 286px;
}

.about_title_text {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about_text {
  display: flex;
  flex-wrap: wrap;
  margin-right: 28px;
  word-spacing: 0px;
  letter-spacing: 0px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  gap: 24px;
}

.footer {
  width: 1000px;
  margin-top: 180px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 89px;
  display: flex;
  justify-content: space-between;
}

.address_footer {
  border: 1px;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  justify-self: center;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  list-style-type: none;
  padding-left: 33px;
}

.check_lot {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-skip-ink: none;
}

.about_us {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-skip-ink: none;
}

.contacts {
  display: flex;
  gap: 48px;
  margin-bottom: 16px;
  list-style-type: none;
}

.link_img {
  width: 48px;
  height: 48px;
}
